/*Variables*/
.body {
    --at-button-height: 48;
    --at-row-count: 2;
}

/*Multi Row Toolbar*/
.AT-Multi .mobile-toolbar-options-container {
    flex-flow: column wrap;
}

.mobile-toolbar-option {
    height: var(--at-button-height);
}

.AT-Multi .mobile-toolbar {
    height: calc(var(--at-button-height) * var(--at-row-count)) !important;   
}

.AT-Multi .mobile-toolbar-options-container {
    height: calc(var(--at-button-height) * var(--at-row-count)) !important;
}

/*Additional Stuff*/
span.setting-item.AT-warning {
    text-align: center;
}