.mobile-toolbar{
    height: 96px !important;   
}

.mobile-toolbar-options-container{
    height: 96px !important;
    flex-wrap: wrap;
    flex-direction: column;
}

.mobile-toolbar-option{
    height: 48px;
}